html {
box-sizing:border-box;
}

:root{
--main-text: #757575;
--text-header:#212121;
--text-accent:#2196F3;
--text-white:#FFFFFF;}
body{
    background-color:var(--text-white);
    color: var(--main-text);
    font-family: 'Roboto' , sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
    padding: 0;}

.section{
  padding: 94px 0 94px 0;
}
header{
border-bottom: 1px solid #EEEEEE;
}
.header {
  padding: 25px 0;
  height: 80px;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
    }

ul{list-style: none;
margin: 0;
    padding:0;}

a{text-decoration: none;}
.img{
display: block;
margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  /* -------------------------------------header */

/* ---------------------------------------Site nav  */

.nav-flex{
  display: flex;
  align-items: center;
}
.nav-li{
display: flex;
}
.nav-li .item + .item{
  margin-left: 50px;}

/* .nav-li .item:not(:last-child){
  margin-left: 40px;
} */

.nav-contacts{
  display: flex;
  margin-left: auto;
}
.nav-contacts .item+.item{
  margin-left: 50px;
}
.nav-site,
.nav-site-link{
color: var(--text-header);
}

.nav-site , .nav-site-link:hover ,
.nav-site , .nav-site-link:focus{
color: var(--text-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-site-link.current{
color: var(--text-accent);
}
/* --------------------------------------Nav-contact */

.nav-contacts , .nav-contacts-tel{
color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts, .nav-contacts-tel:hover ,
.nav-contacts, .nav-contacts-tel:focus {
color: var(--text-accent);
}

 /*-------------------------------------- footer */
.footer{
    background: #2F303A;
    padding: 60px 0;
}
.nav-contacts-footer{
  margin-top: 20px;
}
address-tel-emal{
  margin-top: 9px;
}
 .nav-contacts-footer ,
 .address-tel-emal:hover,
 .nav-contacts-footer, 
 .address-tel-emal:focus {
  color: var(--text-accent);}


.address-office{
color: var(--text-white);
font-style: normal;
font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-office:hover,
.address-office:focus {
 color: var(--text-accent);}

.address-tel-emal{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);}
  

.footer-list {
margin-bottom: 9px;}

.footer-list:last-child {
margin-bottom: 0;
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
}
.logo-footer {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent{
color: var(--text-accent);
}


/* -----------------------------------------hero */
.hero-img {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  margin: 0 auto;
  background-image: url(../images/hero1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
/* linear-gradient(to right, rgba(47, 48, 58, 0.4)), */
 /* background: #2F303A; */




.hero-start{
text-align: center;
padding: 200px 0;
}
.hero-start-header{
  color: var(--text-white);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}  

.hero-button{
display:block;
margin: 0 auto;
padding: 10px 32px;
cursor: pointer;
background: var(--text-accent);
color: var(--text-white);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
margin-top: 30px;
border: 0;
}

/*------------------------------------------- benifits */
.benifits-list{
  display: flex;
  flex-wrap: wrap;
  }
  
  .benifits-iteam {
    width: 270px;
    margin-right: 30px;
  }
  
  .benifits-iteam:last-child {
    margin-right: 0;
}

.invisible{
  color: var(--text-white)
}
.benifits-list{
  display: flex;
  flex-wrap: wrap;
}
.title-benifits{
  color: var(--text-header);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }
  .text-benifits {
  color: var(--main-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 10px;
  }
 /* --------------------------------------------working */
.working{
  padding-bottom: 94px;} 


.list-image{
  margin-top: 50px;
display: flex;
flex-wrap: wrap;}

.working-iteam{
  width: 370px;
  margin-right: 30px;
}

.working-iteam:last-child {
  margin-right: 0;}

.header-two{
    color: var(--text-header);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* ------------------------------------------------team */
.team{
  background: #F5F4FA;
  padding: 94px 0;
}
.team-list{
  margin-top: 50px;
  color: var(--text-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-wrap: wrap;}

.team-iteam {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--text-white);
}

.team-iteam:last-child {
  margin-right: 0;
}
.team-job{
color: var(--main-text);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
margin: top 10px; ;
margin-bottom: 30px;}


.name-worker{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
color:var(--text-header);
margin-top: 30px;
margin-bottom: 10px;
}


  /* -------------------------------------------PORTFOLIO ----------------------------------------------*/
.filtr-flex{
display: flex;

  
}
.filtr{
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}
.filtr-button{
margin-right: 8px;}


.filtr-button: last-child {
margin-right: 0;
}

.filtr-tab {
font-family: 'Roboto';
font-weight: 500;
color: var(--text-header);
display: inline-block;
text-align: center;
cursor: pointer;
background: #F5F4FA;
border-radius: 4px;
font-size: 16px;
line-height: 1.62;
padding: 6px 22px;
border: 0;}


.filtr-tab:hover,
.filtr-tab:focus {
background-color: var(--text-accent);
color: #FFFFFF;}

.filtr-tab.current{
background-color: var(--text-accent);
color: #FFFFFF;}

/* -------------------------------------------------------------------content */
.container-flex{
width: 1200px;
margin-left:  auto;
margin-right: auto;
padding: 0 15px 0 15px;

}

.content{
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.content-list{
  width: 370px;
}

.content-list:nth-child(3n){
  margin-right: 0;
}

.name-content{
color: var(--text-header);
font-weight: 700;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0.06em;
margin-bottom: 4px;
}
.content-list{
background: var(--text-white);

}
.name-list{
padding: 20px 24px;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE ;
border-right: 1px solid #EEEEEE ;
}
.name-projects{
color: var(--main-text);
font-weight: 400;
font-size: 16px;
line-height: 1.7;}
